<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    Hello, my name is Samreen Mahak Hassan. I come from Patna, India and living in Tartu, Estonia. At present I'm working on my master's thesis which is to design and develop a client-server architecture for privacy preserving secure collaborative data analytics in an insecure third-party infrastructure environment. You could contact me through email or/and see my resume here <a href="https://drive.google.com/open?id=18id5emHFWdpXoFO5w-x8wKqjdjECUoZj" target="_blank">Roshan Mehta</a>.
</div>